@use '../abstracts/colors' as *;

.super-powers {
    display: flex;
    justify-content: center;
    align-items: center;

    .super-powers-img-container {
        position: relative;
        display: flex;
        width: 25rem;
        height: 40rem;
        flex: 0 0 auto;
        justify-content: center;
    }

    //about-section
    .super-powers-img {
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        border-radius: 20rem;
        background: var(--accent-color-yellow);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .super-powers-img::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25.5rem;
        height: 40.5rem;
        border-radius: 20rem;
        background: var(--background-gradients-yellow);
        z-index: -1;
        transition: .25s
    }

    .super-powers-img img {
        width: auto;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }

    .section-secondary-line {
        text-align: left;
        margin-left: 2rem;
    }

.super-powers-features {
    position: absolute;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 5px 15px #CCD6FF;
    width: 6em;
    height: 6em;
    top: 7%;
    left: -5%;
    text-align: center;
    z-index: 2;

    img {
        height: auto;
        border-radius: 0;
    }

}

/* Custom positioning for each circular container */
.super-powers-features:nth-child(1) {
    width: 5.5rem;
    height: 5.5rem;
    top: 10%;
    left: -20%;
}

.super-powers-features:nth-child(2) {
    //dashboard
    width: 4.5rem;
    height: 4.5rem;
    top: 0%;
    left: 70%;
}

.super-powers-features:nth-child(3) {
    //data&ai
    width: 5.5rem;
    height: 5.5rem;
    top: 22%;
    left: 74%;
}

.super-powers-features:nth-child(4) {
    //marketing
    top: 30%;
    left: 10%;
    width: 3.5em;
    height: 3.5em;
}


}