@use 'colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Kanit:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

$poppins: 'Poppins', sans-serif;
$dm-sans: 'DM Sans', sans-serif;

html{
    font-size: 19px;
}

@media (max-width:992px) {
    html{
        font-size: 18px;
    }
}

@media (max-width:768px) {
    html{
        font-size: 17px;
    }
}

body{
    font-family: $dm-sans;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $poppins;
    line-height: 1.2;
}

h1 {
    font-size: 3.4rem;
    font-weight: 700; // Bold
    letter-spacing: -2px;

    &.dark-blue {
        color: $primary-blue;
    }

    &.blue {
        color: $secondary-blue;
    }

    &.yellow {
        color: $yellow;
    }
}

h2 {
    font-size: 2.5rem;
    font-weight: 700; // Bold
    margin-bottom: 2.5rem; // Paragraph spacing
    margin-top: 0;
    letter-spacing: -0.25px;

    &.dark-blue {
        color: $primary-blue;
    }

    &.blue {
        color: $secondary-blue;
    }

    &.yellow {
        color: $yellow;
    }
}

h3 {
    font-size: 1.22rem;
    font-weight: 500;
}

h4 {
    font-size: 1.16rem;
    font-weight: 500; // Medium
    margin: 0;
}

h5 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

p {
    font-family: $dm-sans;
    font-weight: 400; // Regular
    text-align: left;
    line-height: 1.5;
    letter-spacing: -0.25px;
}

@media (max-width: 992px) {
    h1{ font-size: 3.2rem; }
    h2{ font-size: 2.2rem; }
}


@media (max-width: 768px) {
    h1{ font-size: 3rem; }
    h2{ font-size: 2rem; }
}