.employee-card {
    background: #fff;
    border-radius: 25px;
    padding: 1.8rem 2rem;
    display: flex;
    flex-flow: column;
    height: 90%;


    .employee {
        flex: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 50%;
            max-width: 7em;
        }

        .employee-info {
            //author
            display: flex;
            flex-flow: column;
            margin-top: 1.8rem;
            font-size: .9rem;

            .employee-name {
                font-weight: bold;
                text-align: left;
            }

            .employee-role {
                text-align: left;
            }
        }
    }
}