@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.employees-section {
    .employees-card {
        background: $background-color;
        border-radius: 25px;
        padding: 1.8rem 2rem;
        display: flex;
        flex-flow: column;
        height: 90%;
        perspective: 1000px;

        .employee-avatar {
            flex: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                border-radius: 25px;
                max-width: 10rem;
            }
        }

        .employee-content {
            display: flex;
            flex-flow: column;
            font-size: .9rem;
            align-content: center;
            margin-top: 1.5rem;
        }

        .employee-name {
            font-size: 1.3em;
            color: $primary-blue;
            font-weight: bold;
            text-align: left;
        }

        .employee-specialties {
            text-align: left;
        }
    }
}