.fact-card {

    text-align: center;
    display: flex;
    flex-flow: column;
    line-height: 1;

    .fact {
        color: blue;
        margin-bottom: 0rem;
        font-size: 3.2rem;
        font-weight: bold;
    }

    .desc{
        padding-top: .65rem;
        font-size: 1.2rem;
        opacity:.65;
    }
}