
.wpforms-container input,.wpforms-container select{
    max-width: 100%!important;
}

.wpforms-container input,.wpforms-container select{
    max-width: 100%!important;
}

.wpforms-container{
    --wpforms-button-border-radius: 50px;
    --wpforms-button-border-color: #0049FF;
    --wpforms-button-background-color: #0049FF;
}

