@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;


.glossary-letter-wrap {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: $background-color;
    border-radius: 8px;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    display: flex;
    position: relative;

    .glossary-link {
        background-color: white;
        border: solid #e4e6f1;
        border-radius: 8px;
        flex: none;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        padding: 0.5 rem;
        display: flex;

        &:hover {
            transition: 1s;
            color: $secondary-blue;
            border: solid $secondary-blue;
        }
    }
}

.glossary-block {
    width: 100%;
    max-width: 588px;
    margin-left: auto;
    margin-right: auto;

    .glossary-content-card {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        border: 1px solid #e4e6f1;
        background-color: $background-color;
        border-radius: 8px;
        flex-direction: column;
        padding: 24px;
        display: flex;

        .glossary-toggle {
            width: 100%;
            padding: 24px;
        }

        .glossary-dropdown {
            background-color: $white;
            border-radius: 8px;
            flex-direction: column;
            display: flex;
            overflow: hidden;
        }

        .glossary-word-line {
            grid-column-gap: 24px;
            grid-row-gap: 24px;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            display: flex;

            .glossary-word-wrap {
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                align-items: center;
                display: flex;
            }

            .glossary-icon-wrapper {
                border: 1px solid #e4e6f1;
                color: $primary-blue;
                background-color: $background-color;
                border-radius: 99px;
                flex: none;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                display: flex;

                .icon-x-small {
                    flex: none;
                    justify-content: center;
                    align-items: center;
                    width: 16px;
                    height: 16px;
                    display: flex;
                    color: $primary-blue;
                }
            }
        }

        .accordian-letter {
            text-transform: uppercase;
            color: $secondary-blue;
            background-color: $background-color;
            border-radius: 8px;
            flex: none;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            padding: 4px;
            display: flex;
        }
    }
}