@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.glossary-letter-wrap {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: $background-color;
    border-radius: 8px;
    flex-flow: wrap;
    justify-content: f;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    display: flex;

    .glossary-link {
        background-color: white;
        border: solid #e4e6f1;
        border-radius: 8px;
        flex: none;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        padding: 0.5 rem;
        display: flex;

        &:hover {
            transition: 1s;
            color: $secondary-blue;
            border: solid $secondary-blue;
        }
    }
}

.glossary-block {
    width: 100%;
    max-width: 588px;
    margin: 0 auto;

    .glossary-content-card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        border: 1px solid #e4e6f1;
        background-color: $background-color;
        border-radius: 8px;
        padding: 24px;

        .glossary-toggle {
            width: 100%;
            padding: 24px;
            cursor: pointer;
        }

        .glossary-dropdown {
            display: flex;
            flex-direction: column;
            background-color: $white;
            border-radius: 8px;
            overflow: hidden;
        }

        .glossary-word-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 24px;

            .glossary-word-wrap {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            .glossary-icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                background-color: $background-color;
                border: 1px solid #e4e6f1;
                border-radius: 99px;
                color: $primary-blue;

                .icon-x-small {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 16px;
                    height: 16px;
                    color: $primary-blue;
                }
            }
        }

        .accordian-letter {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            padding: 4px;
            background-color: $background-color;
            border-radius: 8px;
            text-transform: uppercase;
            color: $secondary-blue;
            transition: color 0.3s, background-color 0.3s;

            &:hover {
                color: $white;
                background-color: $secondary-blue;
            }
        }
    }
}

.w-dropdown-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.glossary-content {
    padding: 16px;
    background-color: $white;
    border-radius: 8px;
}

.w-dropdown-toggle[aria-expanded="true"]+.w-dropdown-list {
    max-height: 200px;
}

.w-dropdown-toggle[aria-expanded="true"] .accordian-letter {
    color: $white;
    background-color: $secondary-blue;
}