@use '../abstracts/colors' as *;

.job-title {
    font-weight: bold;
}

.job-card img {
    max-height: 80%;
}

.job-img>div {
    width: 100%;
    height: 270px;
}

.job-link {
    display: inline-block;
    position: relative;
    color: $secondary-blue;
}

.job-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $secondary-blue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.job-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}