@use '../abstracts/colors' as *;

.press-container {
    display: flex;
    flex-flow: row;
}

.press-card {
    text-align: left;
    display: flex;
    flex-flow: column;
    line-height: 1;

    .press-article {
        color: blue;
        margin-bottom: 0rem;
        font-size: 1.5rem;
    }

    .date {
        font-size: 1rem;
        opacity: .65;
    }

    .article-link a {
        display: inline-block;
        position: relative;
        color: $primary-blue;
        font-size: 1rem;
    }

    .article-link a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        color: $secondary-blue;
        background-color: $secondary-blue;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .article-link a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;

    }
}

@media (max-width: 992px) {
    .press-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}