@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

footer {
    background-color: $primary-blue;
    color: $background-color;
    position: relative;
    padding: 3.5rem 0;
    max-width: 100%;
}

.container-footer {
    #footer-logo {
        filter: brightness(0) invert(1) grayscale(1);
        margin-top: -2rem;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 1rem;

            a {
                text-decoration: none;
                color: $background-color;
                transition: 0.3s ease;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .footer-column {
        text-align: right;
    }
}

ul.footer-link {
    font-size: 1.2rem;
}

ul.social-icons {
    text-align: right;

    img {
        object-fit: auto;
        object-position: center;
        width: 1.2rem;
        height: 1rem;
    }

    li {
        display: inline-block;
        margin-right: 1rem;
    }
}

.white-hr {
    border-top: 1px solid white;
    margin-bottom: 0;
}

ul.copyright {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
}


@media (max-width: 992px) {
    ul.copyright {
        font-size: .85rem;
    }
}

@media (max-width: 768px) {
    ul.copyright {
        font-size: .75rem;
        flex-direction: column;
        align-items: center;
    }

    ul.copyright li {
        margin-bottom: 1rem;
        text-align: center;
    }

    ul.social-icons {
        text-align: center;

        li {
            display: inline-block;
        }
    }
}